.App {
  text-align: center;
}

.App-header {
  background-color: rgb(34, 33, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 33vh;
}

.App-link {
  color: #61dafb;
}
